/* Grid container for project titles */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
    margin-top: 20px;
    
  }
  
  /* Individual project title cards */
  .project-title-card {
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #a1aab3; /* Primary color for the cards */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  /* Hover effect for cards */
  .project-title-card:hover {
    background-color: #2c84e2; /* Darker shade on hover */
    transform: translateY(-5px); /* Slight lift on hover */
  }
  
  /* Detailed project view */
  .project-details {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .btn-secondary {
    margin-top: 10px;
    color: white;
    background-color: #6c757d;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-secondary:hover {
    background-color: #858e96;
  }
  
  .projects-header {
    display: flex;
    align-items: center; /* Align animation and title vertically */
    justify-content: flex-start; /* Align animation and title to the left */
    gap: 10px; /* Add spacing between animation and title */
    margin-bottom: 20px; /* Add space below the header */
}

  
  .projects-title {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40; /* Dark gray for the title */
    margin: 0;
    align-items: center;
    padding-right: 70%;
  }
  
  .animated-icon {
    width: 30px; /* Adjust the width of the animation */
    height: 30px; /* Adjust the height of the animation */
    align-items: flex-start;
  }
  @media (max-width: 768px) {
    section {
      padding: 40px 15px;
    }
  
    .container {
      max-width: 100%; /* Full width on smaller screens */
    }
  }
  .project-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .project-img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
  
  .project-title-card {
    cursor: pointer;
    text-align: left;
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s ease;
    align-items: center;
  }
  
  .project-title-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .project-details img {
    margin-top: 20px;
  }
  .project-icon {
    width: 20px; /* Adjust icon size */
    height: 20px;
    margin-right: 10px; /* Add space between the icon and the title */
    display: inline-block;
  }